# -*- coding: cp1251 -*-
'''
Created on 20.08.2012

@author: Дина
'''
from BeautifulSoup import BeautifulSoup
import os

# создаем список файлов в папке (каждый файл - отдельная статья)
path = ("D://Python27//MyProgs//entries//")
listing = os.listdir(path)

# создаем файл для записи найденных существительных
out_file = ("D://Python27//MyProgs//uncountable.txt")

# открываем-закрываем для перезаписи, если файл раньше уже существовал
output_file = open(out_file, 'w')
output_file.close()

# идем по файлам в папке
for file_name in listing:
    print file_name
    in_file = open(path+file_name, 'r')
    output_file = open(out_file, 'a')
    soup = BeautifulSoup(in_file)

# ищем атрибут id с value = Noun
    count = soup.find('span', attrs={'id':'Noun'})
    
# если найден - ищем "uncountable" в той же ветке (достаточно подняться на 2 parent вверх- контекст получается обширный, что позволяет захватить инф-ю об исчисляемости, которая указана на той же строчке или на следующей)    
    if count is not None:
        print count
        count_value=count.parent.parent
        
# если нашли, то пишем слово в файл с переходом на следующую строку        
        if "uncountable" in count_value.text:
            words = soup.find('title').contents[0].split()
            output_file.write(words[0]+"\n")
    in_file.close()    

output_file.close()    
